<div class="tab__content">
            <section class=" ">
                <div class="container">
                    <div class="row">
                    	{{#arts}}
                        <div class="col-md-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="/images/{{img}}" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>{{title}}</h5>
                                    <p>
                                        {{content}}
                                    </p>
                                    <a href="{{link}}">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        {{/arts}}
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>