<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body>
    {{>nav}}
    <div>
        <h1>Laurene Yu</h1>
    </div>
        <section class="text-center height-80 imagebg" data-overlay="4">
		    <div class="background-image-holder">
		        <img alt="background" src="/images/acting4.png" />
		        <div style="width:100%; height:100%; z-index:999; background-color:rgba(0, 0, 0, .1)">

		        </div>
		    </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="typed-headline">
                            <span class="h1 inline-block">I am </span>
                            <span class="h1 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="a performing artist, a visual art designer, a writer"></span>
                        </div>
                        <p class="lead">
                            I enjoy my life as an artist.
                            <br class="hidden-xs hidden-sm" />
                        </p>
                        
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section><br>

        {{#notLoggedin}}
        <div class="container">
          <div class="row">
        	<section class="col-md-4">
	        </section>	
	        <section class="col-md-4">
			  	<div id="sign-up">
			  	  <h3 style="text-align: center">Please log in to view my work</h3>
			  	  <form method="post" action="/auth/login">
			  	  	<!-- 
			  	  	<div class="input-group mb-2">
			          <input type="text" class="form-control" placeholder="User Name" aria-label="Full Name" aria-describedby="basic-addon2" name="name">
			  	  	</div>
			         -->
			        <div class="input-group mb-2">
			          <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="basic-addon2" name="email">
			  	  	</div>

			  	  	<div class="input-group mb-2">
			          <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2" name="password">
			  	  	</div>
			  	  	<button class="btn btn-success" type="submit">Submit</button>  
			  	  </form>
			  	</div>
			</section>
          </div>
	    </div> 
        {{/notLoggedin}}

        {{#loggedin}}
            {{>portfolio}}
        {{/loggedin}}
    {{>scripts}}
</body>
</html>